<%= form_with(model: launch, local: true) do |form| %>
  <% if launch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(launch.errors.count, "error") %> prohibited this launch from being saved:</h2>

      <ul>
      <% launch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
